* {
    box-sizing: border-box
    margin: 10px;
    padding: 10px;
}

.body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
line: height 2px;
font-size: 16px;
display: flex;
}

.logo-name h2 {
    font-size: 40px;

}

.container {
display: flex; 
margin: 0 auto;
padding: 0 30px;


}

.navbar .container {
display:flex;
justify-content: space-between;
align-items: center;
height: 100%;
background-color:beige;
width: 100%;

}

.navbar ul li {
    margin-left: 0px;
    display:inline-block;
    list-style-type: style none;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;

}

.navbar a {
    color: black;
    margin-right: 100px;
    display: flex;
}

.nav {
    margin-right: 0px;
    display: flex;
}

.navbar a:hover {
    color: cornflowerblue;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
    width: 100%;
}
.photo {
display: flex;
flex-wrap: wrap;
align-content:space-between;
max-width: 25%;
margin-right: -30px; 
}

.header h1 {
font-size: 60px;
float: center;    
}

.boxes {
   display: flex;
   justify-content: space-between;    
}

.boxes p {
    font-size: 20px;
}

.box {
flex: 1;
background: beige;
border: 10px;
margin: 20px 10px;
box-shadow: 0 3px 5px black;
padding: 15px 20px;
}

.box1 {
    flex: 1;
    background: beige;
    border: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px black;
    padding: 15px 20px;
    }

.About {
flex: 1;
background: beige;
border: 10px;
margin: 20px 10px;
box-shadow: 0 3px 5px black;
padding: 15px 20px;
height: 600px;
width: 400px;
}

.About p {
    font size: 20px;
}

.contact {

    background-color: white
    margin: top: 20px;px
    height: 400px;
    display: flex;
    float: :right;

}

.contact-box {
   margin: 50px;
   float: inline-start;
   height: 100px;
}

.form {
    margin: ;
    }
    
.input-feild {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
}

.message {
    height: 150px;
    padding-top: 10px

}

@media screen and (max-width: 992px) {
    .header .container {
      flex-direction: column;
      padding-top: 20px;
      width: 50%;
    }

    .boxes .container {
        display: block;
    }
  }
  
  @media screen and (max-width: 768px) {
    .header .container {
      flex-direction: column;
      padding-top: 20px;
      width: 100%;
    }
   
  }

  