* {
    box-sizing: border-box
    margin: 0;
    padding: 0;
}

.body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
line: height 2px;
font-size: 16px;
}

.logo-name h2 {
    font-size: small;

}

.container {
display: flex; 
margin: 0 auto;
padding: 0 30px;


}

.navbar .container {
display:flex;
justify-content: space-between;
align-items: center;
height: 100%;
background-color:beige;

}

.navbar ul li {
    margin-left: 20px;
}
.navbar ul {
    display: flex;

}

.navbar a {
    color: black;
    margin-right: 100px;
}

.nav {
    margin-right: 0px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
}
.photo {
display: flex;
flex-wrap: wrap;
align-content:space-between;
max-width: 25%;
margin-right: -30px;
  
}

.header h1 {
font-size: large;
float: left;    
}
.header p {
    font-size: small;
    float: left;
}